/pkg/
/.idea/
/launchy/launchy
/result
/cache
/config
/logs
stdout
stderr
.DS_Store
/zoo/config
/zoo/logs
/hermes.json
/launchy.json
.direnv
/zoo/cache
__debug_bin*
.metals/
.vscode/
langs/scala/logs/
langs/java/build
/hermes/hermes/logs/
/launchy/minion/logs/
testbed.json
/hermes/hermes/nefario-checks.json
/test/nefario-checks.json
sandbox/codegen
sandbox/backups
